## Content
* Basics<br>
* Data structures<br>
* Loops<br>
* Functions<br>
* Pandas<br>
* Reading,Writing into files

### Basics

Variable declaration, datatype,type casting, calculations

##### Data Types

* int-Integer Numbers
* float- Real Numbers
* str- string, text
* boolen- True,False

In [21]:
var1=5
var2='Hello world'
var3=10
var4=2
var5=True
var6=False


# Addition/subtraction
print(var1,'+',var3,'=',var1+var3)

# Multiplication/division
print(var1,'*',var3,'=',var1*var3)

# Exponentiation
print(var1,'^',var4,'=',var1**var4)

# Modulo
print(var1,'%',var4,'=',var1%var4)


print(type(var1))
print(type(var2))
print(var2+var2)
print(var2*3)
print(var5 & var6)

5 + 10 = 15
5 * 10 = 50
5 ^ 2 = 25
5 % 2 = 1
<class 'int'>
<class 'str'>
Hello worldHello world
Hello worldHello worldHello world
False

In [18]:
var2[1:]

'ello world'

In [20]:
var2[1]+var2[4]

'eo'

###### str functions: 
capitalize(),len(),replace() etc.

#### Type Casting

float(),str() etc

In [6]:
float(var1)

5.0

###### implicit type conversion

In [39]:
var3/var1

2.0

In [40]:
5+'a'

'5a'

#### Data structures
  &nbsp;&nbsp;&nbsp;&nbsp;-Arrays<br>
  &nbsp;&nbsp;&nbsp;&nbsp;-Lists<br>
  &nbsp;&nbsp;&nbsp;&nbsp;-Tuples<br>
  &nbsp;&nbsp;&nbsp;&nbsp;-Dictionary<br>
  
##### List
* Collection of values
* Contain any type
* Contain different type
* Can contain a list within a list

In [22]:
list_cities=['Mumbai','Delhi','Bangalore','Chennai']

In [23]:
type(list_cities)

list

In [29]:
list_cities[2]

'Bangalore'

In [41]:
list_in_list=[['A',1],['B','2'],['C',3]]

In [42]:
list_in_list[1]

['B', '2']

In [47]:
list_in_list[1][1]

'2'

#### List manipulations

In [53]:
list_cities.append('Kolkata')

In [57]:
del(list_cities)

['Mumbai', 'Delhi', 'Bangalore', 'Chennai']

### Loops

In [50]:
for i in range(1,10):
    print("Hell0",i)

Hell0 1
Hell0 2
Hell0 3
Hell0 4
Hell0 5
Hell0 6
Hell0 7
Hell0 8
Hell0 9

### Functions

* Inbuilt functions

max()&nbsp;&nbsp;,min()&nbsp;&nbsp;,mean()&nbsp;&nbsp;,sum()&nbsp;&nbsp;,round()

In [58]:
max(1,2,3,4,5)

5

In [59]:
round(12.278372837238,2)

12.28